.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: var(--space-xs);
  margin-left: calc(var(--space-s) * -1);
}

.rss {
  color: var(--color-black-60);
  margin-left: calc(var(--space-xxs) * -1);
  transition: color 0.3s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-text);
    }
  }
}
