.link:focus {
  outline: 3px auto var(--color-primary);
}

.primary {
  text-decoration: underline;
  color: var(--color-primary);
}

.secondary {
  text-decoration: underline;
  color: var(--color-text-secondary);
}

.text {
  text-decoration: underline;
  color: var(--color-text);
}

@media (hover: hover) and (pointer: fine) {
  .primary,
  .secondary,
  .text {
    transition: box-shadow 250ms;
    box-shadow: 0 0 0 currentColor;
    text-decoration: none;

    &:hover {
      box-shadow: 0 2px 0 currentColor;
    }
  }

  .secondary:hover {
    transition: color 250ms, box-shadow 250ms;
    color: var(--color-text);
  }
}
