.link {
  color: var(--color-text);
  text-decoration: none;
  display: block;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .heading {
        color: var(--color-primary);
      }

      .arrow {
        opacity: 1;
      }
    }
  }
}

.heading {
  font-size: var(--font-size-l);
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-m);
}

.arrow {
  color: var(--color-primary);
  opacity: 0;
  transition: opacity 250ms;
}

.description {
  font-size: var(--font-size-base);
  margin-bottom: var(--space-m);
}

.readMore {
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
}
