.footer {
  color: var(--color-black-60);
  border-top: 1px solid var(--color-black-30);
  margin-top: var(--space-xl);
  padding-top: var(--space-m);
  padding-bottom: var(--space-xl);
  text-align: center;
}
