.heading {
  position: relative;
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-m);
}

.h1 {
  font-size: var(--font-size-xxl);
}

.h2 {
  font-size: var(--font-size-xl);
}

.h3 {
  font-size: var(--font-size-l);
}

.h4,
.h5,
.h6 {
  font-size: var(--font-size-m);
}

.anchor {
  position: absolute;
  top: 50%;
  transform: translate(-150%, -50%);
  min-width: 20px;
  color: inherit;
  scroll-margin-top: var(--space-xxl);

  @media (max-width: 680px) {
    display: none;
  }
}
