.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-xl) 0;
}

.navigation {
  display: flex;
  gap: var(--space-xs);
  margin-left: calc(var(--space-s) * -1);
}

.rss {
  transition: color 0.3s;
  margin-right: calc(var(--space-xxs) * -1);
  color: var(--color-black-60);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--color-text);
    }
  }
}
