.navigationLink {
  transition: background-color 0.3s;
  border-radius: var(--radius-m);
  padding: var(--space-xxs) var(--space-s);
  text-decoration: none;
  color: var(--color-text-secondary);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--color-black-15);
    }
  }
}

.active {
  color: var(--color-text);
  font-weight: 600;
}
